.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
}

.countryCard{
    background-color: palegreen;
    height: 400px;
    border: 2px green;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.flag {
    width: 100%;
    border-radius: 5%;
}

